h1 {
    color: blue;
    font-size: 56px;
    background-color: rbg(215, 208, 233);

}



button {
    border-width: 0;
    border-radius: 8px;
    background-color: gray;
    color: white;
}

#gallery img {
    width:30%;
    margin:1.66%;
    float:left;
}
